@charset "UTF-8";
/* CSS Document */
/*written by Nedra Cullen-O'Brien*/

header{
	background-color:white;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color:black;
	position:absolute;
	left:0%;
	right:0%;
	top:0%;
	text-align:center;
	padding-bottom:2%;
	overflow:hidden;
	margin:auto;
	height:200px;
	width:1280px;
}

.header{
	width:1280px;
	margin:auto;
	padding-bottom:4%;
	padding-top:0.1%
}

header img{
	border-radius:50%;
	width:15%;
	border-style:solid;
	border-width:.1%;
	border-color:white;
	float:left;
	margin-left:4%;
	margin-top:1%;
	margin-bottom:1%;
	padding: .3%;
}

h1{
	font-size:500%;
	margin-left:25%;
	margin-right:10%;
	margin-bottom:1%;
	margin-top:3.5%;
}

body{
	background-color:#ffffff;
	width:100%;
	padding-top:20%;
	padding-bottom:2%;
	padding-left:0%;
	padding-right:0%;
	height:100%;
	margin:auto;
}

footer{
	background: white;
	color:black;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	position:fixed;
	bottom:0%;
	left:0%;
	right:0%;
	text-align:center;
	font-style:normal;
	width:1280px;
	margin:auto;
	font-size:15px;
	padding-top:1%;
	padding-bottom:.5%;
}

.footer{
	margin:auto;
	padding-left:25%;
	padding-right:25%;
}