@charset "UTF-8";
/* CSS Document */


.navbar{
	
	margin-left:26%;
	margin-right:10%;
	padding-top:4px;
	padding-bottom:4px;
	color:black;
	overflow:hidden;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}

.navbar a{
	text-decoration:none;
	color:black;
	font-size:160%;
	display:inline-block;
	padding-left:6px;
	padding-right:6px;
}

.navbar a:hover{
	background-color:#64FF33;
	color:white;
	font-style:oblique;
}

.navbar a:active{
	background-color:white;
	color:white;
}